@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--pure);
    background: var(--primary); 
}

header {
    background: linear-gradient(135deg, rgba(0,0,0,1),rgba(0,0,0,0.2)),
    url('img/sunrise2.jpg');
    min-height: 100vh;
    background-size: cover;
}
header nav{
    padding: 20px 40px 20px 100px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items:center;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .nav-right a{
    text-decoration: none;
    color: white;
    margin-right: 50px;    
}

header nav .nav-right a:hover{
    transition: all .45s ease-in;
    color: turquoise;
    cursor: pointer;
}
header nav .nav-right .search > div{
    background: black;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
}
header nav .nav-right .search > div input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
}
.social div{
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    animation: movein 1s ease-in-out forwards;
    
}

@keyframes movein{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0px);
    }
}
.social svg path{
    color: rgb(250, 245, 245);
}
.social div:hover svg path{
    fill: black;
}
.social div:hover {
    background: white;
}
.cta{
    position: relative;
}
.social{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 110vh;
}
.hero .cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 80px);
    color: white;
}
.container{
    width: 1460px;
    max-width: 90%;
    margin: 0 auto;
}
.hero .cta h1{
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 30px;
}
.hero .cta >div{
    flex: 1;
}
.hero .cta .left-section{
    padding: 0px 60px 0 30px;s
}
footer {
    background: var(--dark);
    padding : 60px 0;
}

footer > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 }

 footer .copyright span {
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}

footer .copyright img {
    height: 30px;
}

footer h1 {
    font-size: 18px;
    position: relative;
    margin-bottom: 30px;
}

footer h1:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block;
    width: 60px;
    height: 2px;
    background: var(--pure);
}

footer ul {
    list-style-type: none;
}

footer ul li:nth-child(even) {
    margin: 10px 0;
 }

 footer ul li a {
    color: var(--mild);
    text-decoration: none;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

footer ul li a:hover {
    color: var(--pure);
 }

 footer .footer-socials a {
    margin-right: 20px;
    font-size: 22px;
    color: var(--mild);
}

footer .footer-socials a:hover {
    color: var(--pure);
}
